body{
    background-image: url('https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/wolfgang-hasselmann-br-gllg7bs-unsplash-2_ver_1.jpg');
    font-family: monospace;
    color: whitesmoke;
}
.parent{
    margin: 20%;
}
